.projectsNav {
    margin: 20px 0px;
}

.title {
    color: #4F4F4F;
    font-size: 18px;
    margin-bottom: 16px;
}

.projectsCategory button {
    border: none;
    padding: 8px 22px;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    color: #4F4F4F;
    font-size: 14px;
    margin-right: 16px;
    cursor: pointer;
}

.projectsCategory .selected {
    background: #2F80ED;
    color: white;
    border: #2F80ED;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.projectCard {
    display: flex;
    flex-direction: column;
}

.projectCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.projectCard .tags {
    color: var(--light-text-color);
    font-size: 16px;
    margin-top: 10px;
}

.projectCard .tags span {
    margin-right: 9px;
}

.projectCard .name {
    font-size: 24px;
    margin: 20px 0px;
}

.projectCard .description {
    color: var(--light-text-color);
    flex-grow: 1;
    padding-bottom: 30px;
}

.projectCard .links {
    margin-top: 20px;
}

.projectCard .links a {
    border: none;
    border: 1px solid #2F80ED;
    border-radius: 12px;

    padding: 12px 35px;
    margin-right: 10px;
    text-decoration: none;
}

.projectCard .links .code {
    color: #2F80ED;
}

.projectCard .links .demo {
    background: #2F80ED;
    color: white;
}

@media screen and (max-width: 1024px) {
    .projectCard .links a {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 768px) {
    .projectCards {
        display: flex;
        flex-direction: column;
    }

    .projectCard img {
        width: 70%;
        margin: 0 auto;
    }
}