:root {
    --heading-color: #4F4F4F;
    --light-text-color: #828282;
    --extra-light: #E0E0E0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    background: #f2f2f2;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 12px;
    padding: 30px;
}


/*style for personal profile*/
.personal-profile {
    gap: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.personal-profile img {
    height: 200px;
    border-radius: 12px;
}

.personal-profile .namecontact {
    justify-content: space-between;
    margin-bottom: 20px;
}

.personal-profile .name {
    font-size: 24px;
    font-weight: 600;
    color: var(--heading-color);
}

.personal-profile .info {
    color: var(--light-text-color);
}

.personal-profile .contact {
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.personal-profile .contact span {
    margin-right: 5px;
}

.personal-profile .name, .personal-profile .email {
    margin-bottom: 10px;
}

.mainSection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    gap: 20px;
}

/*style for skills*/
.skills {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.skills .title{
    color: var(--heading-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 16px;
}

/* style for hobbies*/
.hobbies {
    grid-column: 1 / span 4;
    grid-row: 3 / span 9;
}

.hobbies .title {
    color: var(--heading-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.hobbies img {
    width: 100%;
    border-radius: 12px;
}

.hobbies .hobby {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    margin-bottom: 30px;
}

.hobbies .hobby .name {
    align-self: flex-start;
}

/* style for experiences */
.experiences {
    grid-column: 5 / span 8;
    grid-row: 1 / span 5;
}

.experiences .title {
    font-size: 24px;
    color: var(--heading-color);
    margin-bottom: 30px;
}

.experiences .time {
    font-size: 14px;
    color: var(--light-text-color);
    margin-bottom: 10px;
}

.experiences .experience {
    display: flex;
    gap: 20px;

    margin-bottom: 20px;
}

.experiences .title {
    font-weight: 600;
}

.experiences .accomplishments {
    color: var(--light-text-color);
}

.experiences li {
    list-style-type: '- ';
    margin-bottom: 5px;
}

.experiences img {
    width: 70px;
    height: 70px;
}
