:root {
    --heading-color: #4F4F4F;
    --light-text-color: #828282;
    --extra-light: #E0E0E0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    background: #f2f2f2;
}

#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background: white;
    border-radius: 12px;
    padding: 30px;
}

.header {
    color: var(--heading-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.mainSection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 20px;
}